<div class="container_pictures">
  <div class="hair_style1">
    <img src="/assets/side1.jpeg" alt="hair_style1">
  </div>
  <div class="hair_style2">
    <img src="/assets/back2.jpeg" alt="hair_style2">
  </div>
  <div class= "hair_style3">
    <img src="/assets/side2.jpeg" alt="hair_style3">
  </div>
</div>


<h1>Hair Salon</h1>

<!-- form input stylist -->

<div class="add_stylist">
  <form action="/stylists" method="post">
    <label for="name"> Stylist:</label><br>
    <input class="form-control" id="name" name="name" type="text">
    <button class="btn" type="submit">Add Stylist</button>
  </form>
</div>

<!-- form input clients -->

<div class="add_client">
  <form action="/clients" method="post">
    <label for="stylist_id">Select a Stylist</label>
    <select class="selector_stylist" id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>
    <br>
    <label for="name_client">Name of the client:</label>
    <input class="form-control" id="name_client" name="name_client" type="text">

    <button class="btn" type="submit">Add client</button>
  </form>
</div>

<div class="display_stylist">
  <% if @stylists.any?() %>
    <p>Click on a stylist to see their clients:</p>

    <ul>
      <% @stylists.each do |stylist| %>
      <li><i class="fa fa-scissors" aria-hidden="true"></i><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no stylists yet!</p>
    <% end %>
</div>
