<!DOCTYPE html>
  <html>
    <head>
      <title>Hair Salon Hong Kong</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
